$primary: #3161f1;
$secondary: #6b7280;
$bg-light: #f3f4f6;
$white: #fff;
$black: #000;
$font-color: rgba(15,23,42,1);
$border: #e5e7eb;
$red:rgba(239,68,68,1);
$green:rgba(16,185,129,1);
$orange:rgba(245,158,11,1);
$blue:rgb(11, 112, 245);